<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <title>
      Wargames
    </title>
    {% set scss %}{% include "style.scss" %}{% endset %}
    <style type="text/css">
      {{ scss | scss | safe }}
    </style>
  </head>
  <body data-mode="menu">
    {% include "play-button.njk" %}
    {% include "loading-bar.njk" %}
    {% set js %}{% include "src/menu.js" %}{% endset %}
    <script type="text/javascript">
      {{ js | terser | safe }}
    </script>
  </body>
</html>

