<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <title>
      Wargames
    </title>
    {% set scss %}{% include "style.scss" %}{% endset %}
    <style type="text/css">
      {{ scss | scss | safe }}
    </style>
  </head>
  <body data-mode="menu">

    <button aria-label="play">
      <svg viewBox="0 0 40 48">
        <path d="M8,8 L32,24 L8,40 L8,8" />
        <path d="M8,8 L32,24 L8,40 L8,8" />
      </svg>
      <svg viewBox="-1.1 0.7 10 3">
        <g>
          <path d="M0,3 L0,1.5 L1,1.5 L1,2.5 L0,2.5" stroke="#000000" stroke-width="1.4" />
          <path d="M0,3 L0,1.5 L1,1.5 L1,2.5 L0,2.5" stroke="#ffffff" stroke-width="0.5" />
        </g>
        <g>
          <path d="M2.4,1.5 L2.4,3 L3.4,3" stroke="#000000" stroke-width="1.4" />
          <path d="M2.4,1.5 L2.4,3 L3.4,3" stroke="#ffffff" stroke-width="0.5" />
        </g>
        <g>
          <path d="M4.8,3 L4.8,1.5 L5.8,1.5 L5.8,3" stroke="#000000" stroke-width="1.4" />
          <path d="M4.8,2.5 L5.8,2.5" stroke="#000000" stroke-width="1.4" />
          <path d="M4.8,3 L4.8,1.5 L5.8,1.5 L5.8,3" stroke="#ffffff" stroke-width="0.5" />
          <path d="M4.8,2.5 L5.8,2.5" stroke="#ffffff" stroke-width="0.5" />
        </g>
        <g>
          <path d="M8.2,1.5 L8.2,3 L7.199999999999999,3" stroke="#000000" stroke-width="1.4" />
          <path d="M7.199999999999999,1.5 L7.199999999999999,2 L8.2,2" stroke="#000000" stroke-width="1.4" />
          <path d="M8.2,1.5 L8.2,3 L7.199999999999999,3" stroke="#ffffff" stroke-width="0.5" />
          <path d="M7.199999999999999,1.5 L7.199999999999999,2 L8.2,2" stroke="#ffffff" stroke-width="0.5" />
        </g>
      </svg>
    </button>

    <svg viewBox="0 0 128 32">
      <rect
        x="0"
        y="0"
        width="128"
        height="32"
        fill="white"
      />
      <path
        d="M8,16 L120,16"
        stroke="lightskyblue"
        stroke-width="16"
        stroke-dasharray="128"
        stroke-dashoffset="128"
      />
    </svg>

    {% set js %}{% include "src/menu.js" %}{% endset %}
    <script type="text/javascript">
      {{ js | terser | safe }}
    </script>
  </body>
</html>

