:root {
  --bodyTemplateAreas: "";
  --bodyTemplateColumns: 1fr;
  --bodyTemplateRows: 1fr;
  --playButtonDisplay: none;
  --canvasDisplay: none;
  --thumbnailDisplay: none;
  --loadingTransitionDuration: 64ms;
  --loadingBarDisplay: none;
  --titleDisplay: none;
}

body[data-mode="menu"] {
  --bodyTemplateAreas:
    ". ........... ."
    ".    title    ."
    ". ........... ."
    ".  thumbnail  ."
    ". ........... ."
    ". play-button ."
    ". ........... .";
  --bodyTemplateColumns: 1rem auto 1rem;
  --bodyTemplateRows: 1fr min-content 1rem 256px 1rem min-content 1fr;
  --thumbnailDisplay: flex;
  --playButtonDisplay: flex;
  --titleDisplay: flex;
}

body[data-mode="load"] {
  --bodyTemplateAreas:
    ". ........... ."
    ". loading-bar ."
    ". ........... .";
  --bodyTemplateColumns: 1rem auto 1rem;
  --bodyTemplateRows: 1fr min-content 1fr;
  --loadingBarDisplay: flex;
}

body[data-mode="play"] {
  --bodyTemplateAreas: "canvas";
  --bodyTemplateColumns: 1fr;
  --bodyTemplateRows: 1fr;
  --canvasDisplay: flex;
}

html {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  align-items: center;
  background-color: black;
  display: grid;
  flex-direction: column;
  grid-template-areas: var(--bodyTemplateAreas);
  grid-template-columns: var(--bodyTemplateColumns);
  grid-template-rows: var(--bodyTemplateRows);
  height: 100vh;
  justify-content: center;
  margin: 0;
  width: 100vw;
}

h1 {
  color: white;
  display: var(--titleDisplay);
  font-family: Futura, sans-serif;
  justify-content: center;
  grid-area: title;
  margin: 0;
  text-align: center;
}

picture {
  display: var(--thumbnailDisplay);
  grid-area: thumbnail;
  overflow: hidden;
  position: relative;
  height: 16rem;
  width: 16rem;
}

picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[aria-label="play"] {
  align-items: center;
  background-color: #29adff;
  border-radius: 4px;
  border: 2px solid #1d2b53;
  box-shadow: 0 0 4px #c2c3c7;
  cursor: pointer;
  display: var(--playButtonDisplay);
  height: 48px;
  grid-area: play-button;
  justify-content: center;
  justify-self: center;
  width: 108px;
}

[aria-label="play"] svg:nth-child(1) {
  display: block;
  width: 26px;
  height: 32px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

[aria-label="play"] svg:nth-child(1) path:nth-child(1) {
  stroke: #1d2b53;
  stroke-width: 8;
}

[aria-label="play"] svg:nth-child(1) path:nth-child(2) {
  fill: #00e436;
  stroke: #008751;
  stroke-width: 2;
}

[aria-label="play"] svg:nth-child(2) {
  display: block;
  width: 70px;
  height: 24px;
}

[aria-label="play"] svg:nth-child(2) g {
  stroke-linecap: square;
  stroke-linejoin: round;
}

[aria-label="loading"] {
  display: var(--loadingBarDisplay);
  grid-area: loading-bar;
  width: 256px;
}

[aria-label="loading"] path {
  transition-property: stroke-dashoffset;
  transition-duration: var(--loadingTransitionDuration);
  transition-timing-function: ease-in-out;
}

canvas {
  display: var(--canvasDisplay);
  grid-area: canvas;
}

