<div itemprop="description">
  <p>
    Global Thermonuclear War was a multiplayer Google Maps game
    allowing players to fire nuclear missiles at each other's
    real-world locations.
  </p>
  <p>
    At the peak of its viral fame in late 2014, thousands of
    players from all around the world launched millions of
    missiles at each other.
  </p>
  <p>
    This is a visualization of those missiles.
  </p>
</div>

