<svg aria-label="loading" viewBox="0 0 128 32">
  <rect
    x="0"
    y="0"
    width="128"
    height="32"
    fill="white"
  />
  <path
    d="M8,16 L120,16"
    stroke="lightskyblue"
    stroke-width="16"
    stroke-dasharray="128"
    stroke-dashoffset="128"
  />
</svg>

