<aside>
  <h2>
    missiles
  </h2>
  <section id="missiles">
    <input type="radio" name="missiles" value="stop" id="missiles-stop" />
    <label for="missiles-stop">stop</label>
    <input type="radio" name="missiles" value="slow" id="missiles-slow" checked />
    <label for="missiles-slow">slow</label>
    <input type="radio" name="missiles" value="fast" id="missiles-fast" />
    <label for="missiles-fast">fast</label>
  </section>

  <h2>
    rotation
  </h2>
  <section id="rotation">
    <input type="radio" name="rotation" value="0" id="rotation-stop" />
    <label for="rotation-stop">stop</label>
    <input type="radio" name="rotation" value="-1" id="rotation-slow" checked />
    <label for="rotation-slow">slow</label>
    <input type="radio" name="rotation" value="-8" id="rotation-fast" />
    <label for="rotation-fast">fast</label>
  </section>

</aside>

