<button aria-label="pause">
  <svg viewBox="0 0 32 32">
    <path d="M12,8 L12,24" />
    <path d="M20,8 L20,24" />
  </svg>
  <svg viewBox="-8 -8 64 64">
    <path d="M16,8 L40,24 L16,40 L16,8 L40,24" />
  </svg>
</button>

