<aside>
  <h2>
    rotation
  </h2>
  <section id="rotation">

    <input
      type="radio"
      name="rotation"
      value="0"
      id="rotation-zero"
    />
    <label for="rotation-zero">
      stop
    </label>


    <input
      type="radio"
      name="rotation"
      value="-1"
      id="rotation-slow"
      checked
    />
    <label for="rotation-slow">
      slow
    </label>

    <input
      type="radio"
      name="rotation"
      value="-8"
      id="rotation-fast"
    />
    <label for="rotation-fast">
      fast
    </label>

  </section>
</aside>

