html { height: 100%; }
body {
  font-family: 'Helvetica', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#icons {
  position: absolute;
  top: 1em;
  right: 1em;
  height: 32px;
  font-size: 18px;
  a:link, a:visited {
    color: #268bd2;
    text-decoration: none;
  }
}

#bar {
  color: #eee8d5;
  background-color: #002b36;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  font-size: 16px;

  p#name {
    float: left;
    line-height: 16px;
    margin: 8px 16px;
    padding: 0;
    span {
      font-size: 10px;
    }
    a:link, a:visited {
      color: #268bd2;
      text-decoration: none;
    }
  }

  p#playerCountText {
    float: right;
    line-height: 16px;
    font-size: 12px;
    margin: 8px 16px;
    padding: 0;
    span {
      color: #dc322f;
      font-weight: bold;
      font-size: 16px;
      padding-left: 8px;
    }
    a:link, a:visited {
      color: #268bd2;
      text-decoration: none;
    }
  }

}

