html { height: 100%; }
body {
  font-family: 'Helvetica', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#icons {
  position: absolute;
  text-align: right;
  top: 1em;
  right: 1em;
  height: 32px;
  font-size: 18px;
  a:link, a:visited {
    color: #268bd2;
    text-decoration: none;
  }

  #count {
    color: #dc322f;
    color: #eee8d5;
    text-shadow: 0 0 8px #000;
  }
}

